<h1> All articles</h1>
<%=link_to "Create a new article", new_article_path %>
<ul>
<% @articles.each do |article| %>
    <li>
        <%= link_to article.title, article %>
        <%= link_to "Edit article", edit_article_path(article) %>
        <%= article_url(article).inspect %>
        <%= link_to "Destroy", article_url(article),method: :put %></li>
    </li>
    <% end %>
</ul>